.bg .btn1 .btn {
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    width: 10%;
    transition: .5s;
}

@media screen and (max-width: 540px) {
    .bg .btn1 .btn {
        position: absolute;
        top: 3%;
        right: 3%;
        border-radius: 20px;
        border: 1px solid white;
        color: white;
        width: 15%;
        height: auto;
        transition: .5s;
        font-size: 10px;
    }
}

.bg .btn1 .btn:hover {
    background-color: rgb(70, 0, 70,.5);
}

.bg .logo img {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 10%;
}

@media screen and (max-width: 540px) {
    .bg .logo img {
        position: absolute;
        top: 3%;
        left: 3%;
        width: 20%;
    }
}

.bg h1 {
    position: absolute;
    top: 20%;
    right: 32%;
    color: snow;
    font-size: 70px;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .bg h1 {
        position: absolute;
        top: 20%;
        right: 30%;
        color: snow;
        font-size: 18px;
        text-align: center;
    }
}

.bg .btn2 .btn {
    position: absolute;
    top: 42%;
    right: 44%;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    width: 13%;
    height: 45px;
    transition: .5s;
}

@media screen and (max-width: 540px) {
    .bg .btn2 .btn {
        position: absolute;
        top: 39%;
        right: 41%;
        border-radius: 20px;
        border: 1px solid white;
        color: white;
        font-size: 10px;
        width: 17%;
        height:auto;
        transition: .5s;
    }
}

.bg .btn2 .btn:hover {
    background-color: rgb(189, 0, 126,.5);
}

/* part2 */
.part2 {
    background-color: white;
}

.part2 .text1 {
    color: black;
    font-size: 50px;
    font-weight: bolder;
}

.part2 .container .row {
    width: 100%;
}

.part2 .btn1 .btn {
    width: 25%;
    border-radius: 20px;
    height: auto;
    background-color: rgb(255, 115, 64);
    border: 3px solid orange;
    color: white;
}

.part2 .btn1 .btn:hover {
    background-color: rgb(196, 52, 0);
    color: snow;
}

/* hr */
.hr {
    width: 50%;
    height: 2px;
    background-color: gray;
    opacity: .5;
    position: relative;
    left: 25%;
}

/* products */
.product {}

.product .text1 {
    width: 100%;
    font-size: 55px;
    font-weight: bolder;
}

.product .text2 {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.product .p1 {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.product .p11 {
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease-in-out;
}

.product .p11:hover {
    opacity: 1;
}

.product .btn1 .btn {
    width: 25%;
    border-radius: 20px;
    height: auto;
    background-color: rgb(255, 115, 64);
    border: 3px solid orange;
    color: white;
}

.product .btn1 .btn:hover {
    background-color: rgb(196, 52, 0);
    color: snow;
}

/* footer */
.footer {
    background-color: rgb(209, 209, 209);
}

.footer p {
    font-size: 40px;
}

.footer .wix {
    color: rgba(0, 0, 0, 0.884);
    font-weight: bold;
    text-decoration: none;
}

.footer .link {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.footer .link:hover {
    color: blue;
}